.headerLinks {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
}

.links {
  display: flex;
  align-items: center;
}

.links h1 {
  margin-right: 50px;
}

.links h1:hover {
  text-decoration: underline;
}


#logo {
  height: 150px;
  width: auto;
  margin-right: 40px;
}


.links {
  color: aliceblue;
}


body{
  background-color: black;
  padding: 0px;
  margin:0px;
  width:100%;
  height:100vh;
  font-family: 'Lato';
}


#movies{
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.card{
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 440px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0,0,0,.5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  overflow: hidden;
  position: relative;
  margin-top: 50px
}


.card img{
  width: 100%;
  height:100%;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}


.descriptions{
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(255,255,255,.7);
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}


.card:hover .descriptions{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}


.card:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}


.card:hover img{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}


.card h2{
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
  margin-bottom: 40px;
}

.history {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history h1 p {
  text-align: center;
}

.history h1 {
  margin-bottom: 30px;
}

.AddMovies {
  margin: 5% 30%;
}




